<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>first_convo</key>
	<dict>
		<key>0</key>
		<dict>
			<key>greeting</key>
			<string>Default convo - nothing set up yet</string>
			<key>action</key>
			<string>exit</string>
		</dict>
	</dict>
</dict>
</plist>
