<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>walk_side</key>
		<dict>
			<key>num_frames</key>
			<integer>6</integer>
			<key>walk_side_1.png</key>
			<dict>
				<key>height</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-0.5</real>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>width</key>
				<integer>21</integer>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>walk_side_2.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>width</key>
				<integer>19</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>walk_side_3.png</key>
			<dict>
				<key>height</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>width</key>
				<integer>32</integer>
				<key>x</key>
				<integer>211</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>walk_side_4.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>width</key>
				<integer>18</integer>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
			<key>walk_side_5.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>width</key>
				<integer>19</integer>
				<key>x</key>
				<integer>22</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
			<key>walk_side_6.png</key>
			<dict>
				<key>height</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>width</key>
				<integer>31</integer>
				<key>x</key>
				<integer>43</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
		</dict>
		<key>walk_toward</key>
		<dict>
			<key>num_frames</key>
			<integer>6</integer>
			<key>walk_toward_1.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>width</key>
				<integer>24</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
			<key>walk_toward_2.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>width</key>
				<integer>25</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
			<key>walk_toward_3.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>width</key>
				<integer>28</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
			<key>walk_toward_4.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>width</key>
				<integer>24</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
			<key>walk_toward_5.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>width</key>
				<integer>25</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
			<key>walk_toward_6.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>width</key>
				<integer>28</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>51</integer>
			</dict>
		</dict>
		<key>walk_away</key>
		<dict>
			<key>num_frames</key>
			<string>6</string>
			<key>walk_away_1.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>width</key>
				<integer>24</integer>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>walk_away_2.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>width</key>
				<integer>25</integer>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>walk_away_3.png</key>
			<dict>
				<key>height</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1</real>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>width</key>
				<integer>27</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>walk_away_4.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-0.5</real>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>width</key>
				<integer>24</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>walk_away_5.png</key>
			<dict>
				<key>height</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>width</key>
				<integer>25</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>walk_away_6.png</key>
			<dict>
				<key>height</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>width</key>
				<integer>28</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>256</integer>
		<key>width</key>
		<integer>256</integer>
	</dict>
</dict>
</plist>
